/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
        url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
        url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Proxima Nova Rg';
    font-style: normal;
    font-size: 16px;
    line-height: 125%;
    font-weight: normal;
    color: #1E2E36;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1920px;

}

/* HEADER START */
.header-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 51px;
    padding-right: 51px;
    height: 60px;

    border-bottom: 1px solid #1E2E36;
}

.header-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-social-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    margin-right: 13px;
}

.header-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 65px;
}

.header-social-item {
    margin-right: 30px;
}

.header-social-thumb {
    width: 20px;
    height: 20px;
    padding: 0;
}

.header-social-phone {
    padding-right: 18px;
    padding-left: 24px;
    background: url(../media/svg/smartphone.svg) no-repeat left center,
        url(../media/svg/Vector.svg) no-repeat right center;
}

.header-phone-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #1E2E36;
    text-decoration: none;
}

.header-phone-link:hover {
    color: #44C697;
}

.header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #1E2E36;
}

.header-nav-item {
    margin-right: 15px;
}

.header-nav-item:last-child {
    margin-right: 0;
}

.header-nav-link {
    text-decoration: none;
    color: #1E2E36;
}

.header-nav-main::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #44C697;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.header-nav-link:hover,
.header-nav-link:active,
.header-nav-link:focus {
    color: #44C697;
}

/* HEADER END */


/* INTRO START */

.intro {
    margin-top: 0;
    width: 100%;
    height: 105px;
    position: relative;
}

.intro-wrapper {
    margin: 0 51px;
    height: 100%;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.intro-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.intro-list-item {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #1E2E36;
    padding-right: 20px;
    background: url(../media/svg/Vector.svg) no-repeat right center;
    margin-left: 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.intro-list-item-link {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.intro-list-item:hover {
    color: #44C697;
}

.intro-list-item:first-child {
    margin-left: 0;
}

.intro-logo {
    position: absolute;
    top: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-logo {
    margin-right: 10px;
    height: 75px;
}

.intro-logo-text {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
}

.intro-logo-text-F {
    color: #44C697;
}

.intro-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.intro-basket-thumb {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #1E2E36;
    padding: 14px 35px;
    background: url(../media/svg/shopping-cart.svg) no-repeat left center;
}

.intro-basket-thumb a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.intro-basket-thumb:hover {
    color: #44C697;
}

.intro-order-button-call {
    position: relative;
    padding: 14px 46px;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    background-color: #44C697;
    color: #FFFFFF;
    cursor: pointer;
}

.intro-order-button-call a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.intro-order-button-call:hover {
    opacity: .7;
}

/* INTRO END */

/* SLIDER START */

.slider {
    min-height: 100vh;
    background: url(../media/image/intro-ornella.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 100px;
}

.slider-wrapper {
    margin-left: 51px;
    width: 445px;
    height: 670px;
    background-color: #fff;
    border-left: 15px solid #44C697;
}

.slider-title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    padding-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.slider-name {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
    margin-bottom: 10px;
}

.slider-desc {
    font-weight: 400;
    font-size: 36px;
    line-height: 125%;
    text-align: center;
    margin-bottom: 30px;
}

.slider-button {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    padding: 14px 46px;
    text-align: center;
    max-width: 209px;
    margin: 0 auto 50px auto;
    background-color: #44C697;
    color: #fff;
    cursor: pointer;
}

.slider-button:hover {
    opacity: 0.7;
}

.slider-button-link {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.slider-controller {
    height: 80px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* SLIDER END */

/* BENEFITS START */
.benfits {
    margin: 0 51px 100px 51px;
}

.benefits-wrapper {
    position: relative;
    overflow: hidden;
    height: auto;
    width: 100%;
}

.benefits-title {
    position: relative;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    margin-bottom: 52px;
    padding-left: 0;
}

.benefits-title::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 5px;
    width: 20px;
    height: 50px;
    background: #44C697;
    z-index: -1;
}

.benefits-slider-nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 58%;
    bottom: 50%;
    -webkit-transform: translateY(-50%, -50%);
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
    width: 100%;
    z-index: 10;
}

.benefits-slider-nav-item-second,
.benefits-slider-nav-item-first {
    width: 30px;
    height: 30px;
    border: 3px solid rgb(243, 237, 237);
    border-radius: 50%;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.benefits-slider-nav-item-first {
    margin-left: 10px;
    background: url(../media/svg/benefits-arrow-left-nh.svg) no-repeat 7px 6px;
}

.benefits-slider-nav-item-first:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: url(../media/svg/benefits-arrow-right.svg) no-repeat 9px 6px;
    background-color: #fff;
}

.benefits-slider-nav-item-second {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: url(../media/svg/benefits-arrow-left-nh.svg) no-repeat 7px center;
    margin-right: 10px;
}

.benefits-slider-nav-item-second:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    background: url(../media/svg/benefits-arrow-right.svg) no-repeat 9px 6px;
    background-color: #fff;
}

#s1:checked~.s1 {
    margin-left: o;
}

#s2:checked~.s1 {
    margin-left: -50%;
}

.benefits-slider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200%;
}

.benefits-slider input {
    position: absolute;
    visibility: hidden;
}

.benefits-slider-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.benefits-slider-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.benefits-slide {
    margin-right: 30px;
    width: 33.333333%;
    position: relative;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.benefits-slide:last-child {
    margin-right: 0;
}

.benefits-slide-pic {
    width: 100%;
    height: 100%;
}

.benefits-slide-title {
    position: absolute;
    font-weight: 700;
    font-size: 36px;
    left: 30px;
    bottom: 33px;
    line-height: 125%;
    color: #FFFFFF;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.benefits-slide:hover .benefits-slide-title,
.benefits-slide:active .benefits-slide-title,
.benefits-slide:focus .benefits-slide-title {
    -webkit-transform: translateY(-170%);
    -ms-transform: translateY(-170%);
    transform: translateY(-170%);
    font-size: 32px;
}

.benefits-slide:hover .benefits-slide-desc,
.benefits-slide:active .benefits-slide-desc,
.benefits-slide:focus .benefits-slide-desc {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

.benefits-slide-title::after {
    display: block;
    content: "";
    width: 180px;
    height: 3px;
    background-color: #44C697;
}

.benefits-slide-desc {
    position: absolute;
    font-size: 18px;
    line-height: 125%;
    color: #FFFFFF;
    left: 30px;
    bottom: -100%;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

/* BENEFITS END */

/* CATEGORIES ARTICLE START */
.categories-wrapper {
    margin: 0 51px 87px 51px;
}

.categories-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    margin-bottom: 52px;
    padding-left: 0;
    position: relative;
}

.categories-title::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 5px;
    width: 20px;
    height: 50px;
    background: #44C697;
    z-index: -1;
}

.categories-list {
    display: -ms-grid;
    display: grid;
    place-items: center;
    -ms-grid-columns: (12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.categories-item {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    width: 100px;
    align-self: flex-end;
}

.categories-item-active {
    border-bottom: 4px solid #44C697;
}

.category-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    text-transform: uppercase;
}

.categories-thumb {
    display: block;
    margin: 0 auto;
}

/* CATEGORIES ARTICLE END */

/* BEDS START  */
.beds-wrapper {
    margin: 0 51px 100px 51px
}

.beds-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 50px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    margin-bottom: 50px;
}

.beds-card {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.beds-card-pic {
    position: relative;
}

.beds-card-thumb {
    width: 100%;
}

.beds-card-attribute {
    position: absolute;
    top: 10px;
    left: 0;
}

.beds-card-attribute-new,
.beds-card-attribute-hit {
    color: #fff;
    background-color: #1E2E36;
    padding: 5px 15px;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.beds-card-attribute-discount {
    color: #fff;
    background-color: #FF1B1B;
    padding: 5px 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.beds-card:hover,
.beds-card:active,
.beds-card:focus {
    background-color: #44C697;
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px);
}

.beds-card-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
}

.beds-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    text-transform: uppercase;
}

.beds-card-newprice {
    color: #FF1B1B;
    text-decoration: none;
}

.beds-card-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    text-transform: uppercase;
    color: #1E2E36;
}

.beds-card-price-past {
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: #BCBDBB;
    font-size: 18px;
}

.beds-card:hover .beds-card-desc,
.beds-card:active .beds-card-desc,
.beds-card:focus .beds-card-desc,
.beds-card:hover .beds-card-price,
.beds-card:active .beds-card-price,
.beds-card:focus .beds-card-price,
.beds-card:hover .beds-card-price-past,
.beds-card:active .beds-card-price-past,
.beds-card:focus .beds-card-price-past,
.beds-card:hover .beds-card-newprice,
.beds-card:active .beds-card-newprice,
.beds-card:focus .beds-card-newprice {
    color: #fff;
}

.beds-button {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    padding: 14px 46px;
    background-color: #44C697;
    margin: 0 auto;
    width: 190px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.beds-button:hover {
    opacity: .7;
}

.beds-button-link {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #fff;
    text-decoration: none;
}

/*  BEDS END */

/* ABOUT STARTS */
.about-wrapper {
    margin-bottom: 100px;
}

.about-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    margin-bottom: 50px;
    padding-left: 0;
    position: relative;
}

.about-title::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 5px;
    width: 20px;
    height: 50px;
    background: #44C697;
    z-index: -1;
}

.about-block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.about-article {
    position: absolute;
    top: 100px;
    left: 0;
    width: 791px;
    padding: 50px 30px 50px 51px;
    border-right: 15px solid #44C697;
    background-color: #fff;
    z-index: 4;
}

.about-article-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #44C697;
}

.about-article-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 15px;
}

.about-article-paragraph-2 {
    margin-top: 15px;
}

.about-article-paragraph:last-child {
    margin-bottom: 0;
}

/* ABOUT END */

/* QUESTIONS START */
.questions-wrapper {
    margin-bottom: 109px;
}

.questions-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    margin-bottom: 50px;
    padding-left: 0;
    position: relative;
}

.questions-title::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 5px;
    width: 20px;
    height: 50px;
    background: #44C697;
    z-index: -1;
}

.questions-block {
    position: relative;

}

.questions-block-form {
    position: absolute;
    width: 513px;
    height: 457px;
    top: 100px;
    right: 0;
    display: block;
    padding: 50px 51px 50px 30px;
    background-color: #fff;
    border-left: 15px solid #44C697;
}

.questions-block-form-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.questions-block-form-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
}

.questions-block-form-desc-phone {
    font-weight: 700;
}

.questions-block-form-name {
    width: 100%;
    margin-bottom: 15px;
    height: 51px;
    border-radius: 3px;
    padding: 14px 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
}

.questions-block-form-phone {
    width: 100%;
    margin-bottom: 15px;
    height: 51px;
    border-radius: 3px;
    padding: 14px 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
}

.questions-block-form-button {
    width: 100%;
    margin-bottom: 30px;
    height: 51px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #44C697;
    border: 0;
    cursor: pointer;
}

.questions-block-form-button:hover {
    opacity: .7;
}

.questions-block-form-name::-webkit-input-placeholder,
.questions-block-form-button::-webkit-input-placeholder,
.questions-block-form-phone::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
}

.questions-block-form-name::-moz-placeholder,
.questions-block-form-button::-moz-placeholder,
.questions-block-form-phone::-moz-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
}

.questions-block-form-name:-ms-input-placeholder,
.questions-block-form-button:-ms-input-placeholder,
.questions-block-form-phone:-ms-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
}

.questions-block-form-name::-ms-input-placeholder,
.questions-block-form-button::-ms-input-placeholder,
.questions-block-form-phone::-ms-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
}

.questions-block-form-name::placeholder,
.questions-block-form-button::placeholder,
.questions-block-form-phone::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
}

/* QUESTIONS END */

/* FOOTER START */

.footer-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.footer-info {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 50px 101px 117px 51px;
    background-color: #1E2E36;
    color: #fff;
}

.footer-info-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.footer-logo-thumb {
    margin-right: 15px;
}

.footer-logo-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-logo-text-F {
    color: #44C697;
}

.footer-info-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.footer-info-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    margin-right: 87px;
}

.footer-info-lists li {
    position: relative;
    padding-left: 15px;
    position: relative;
    padding-left: 18px;
}

.footer-info-lists li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.footer-info-lists li:hover {
    color: #44C697;
}

.footer-info-lists li::before {
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
    content: "";
    width: 14px;
    height: 2px;
    background-color: #44C697;
}

.footer-info-products-list {
    margin-right: 57px;
}

.footer-info-product-item {
    margin-bottom: 15px;
}

.footer-info-product-item:last-child {
    margin-bottom: 0;
}

.footer-info-service-item {
    margin-bottom: 15px;
}

.footer-info-service-item:last-child {
    margin-bottom: 0;
}

.footer-info-about-geo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer-info-about-geo a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-info-about-geo:hover {
    color: #44C697;
}

.footer-info-about-geo-thumb {
    margin-right: 7.25px;
    width: 19.5px;
    height: 23.5px;
}

.footer-info-about-hours {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer-info-about-hours a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-info-about-hours:hover {
    color: #44C697;
}

.footer-info-about-hours-thumb {
    margin-right: 7.25px;
    width: 19.5px;
    height: 21.5px;
}

.footer-info-about-phone {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #44C697;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 30px;
}

.footer-info-about-phone a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-info-about-phone:hover {
    color: #fff;
}

.footer-info-about-phone-thumb {
    margin-left: -2px;
    margin-right: 10px;
}

.footer-info-about-social-text {
    font-weight: 400;
    line-height: 125%;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-info-about-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-left: 7px;
}

.footer-info-about-social-item {
    margin-right: 30px;
}

.footer-furniture-tov {
    position: absolute;
    bottom: 15px;
    left: 51px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
}

.glyanets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 56px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.footer-thumb {
    width: 100%;
    height: 100%;
}

/* FOOTER END */


@media screen and (max-width: 1700px) {
    .intro-list-item {
        font-size: 14px;
        padding: 0;
        background: none;
    }

    .footer-furniture-tov {
        font-size: 8px;
        left: 0;
    }

    .glyanets {
        font-size: 8px;
        right: 0;
    }
}

@media screen and (max-width: 1300px) {
    .header-social-title {
        font-size: 16px;
    }

    .header-social-list {
        margin-right: 13px;
    }

    .header-social-item {
        margin-right: 13px;
    }

    .header-nav-list {
        font-size: 16px;
    }

    .intro-list {
        display: none;
    }

    .intro-order {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .intro-order-button-call {
        font-size: 16px;
        padding: 10px 20px;
    }

    .slider {
        margin-bottom: 50px;
    }

    .benfits {
        margin-bottom: 50px;
    }

    .benefits-title {
        margin-bottom: 20px;
    }

    .benefits-slide-title {
        font-size: 24px;
    }

    .benefits-slide:hover .benefits-slide-title {
        font-size: 18px;
    }

    .benefits-slide-desc {
        font-size: 14px;
        margin-bottom: -15px;
    }

    .categories-wrapper {
        margin-bottom: 50px;
    }

    .categories-title {
        margin-bottom: 20px;
    }

    .beds-wrapper {
        margin-bottom: 50px;
    }

    .beds-cards {
        margin-bottom: 20px;
        row-gap: 30px;
        -webkit-column-gap: 15px;
        -moz-column-gap: 15px;
        column-gap: 15px;
    }

    .beds-card {
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }

    .beds-button {
        font-size: 18px;
    }

    .about-wrapper {
        margin-bottom: 50px;
    }

    .about-title {
        margin-bottom: 20px;
    }

    .about-article {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 550px;
        padding: 30px 15px 30px 30px;
    }

    .about-article-title {
        font-size: 16px;
    }

    .about-article-paragraph {
        font-size: 14px;
    }

    .questions-title {
        margin-bottom: 20px;
    }

    .questions-wrapper {
        margin-bottom: 50px;
    }

    .questions-block-form {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 350px;
        height: 300px;
        padding: 20px 15px 10px 15px;
    }

    .questions-block-form-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .questions-block-form-name {
        margin-bottom: 10px;
        padding: 6px 7px;
        height: auto;
    }

    .questions-block-form-phone {
        margin-bottom: 10px;
        padding: 6px 7px;
        height: auto;
    }

    .questions-block-form-button {
        font-size: 16px;
        height: 40px;
        margin-bottom: 10px;
    }

    .questions-block-form-desc {
        font-size: 16px;
    }

    .footer-info {
        padding: 15px 30px 30px 30px;
    }

    .footer-info-logo {
        margin-bottom: 15px;
    }

    .footer-logo-thumb {
        margin-right: 7px;
        height: 50px;
    }

    .footer-logo-text {
        font-size: 18px;
    }

    .footer-info-lists {
        font-size: 14px;
        margin-right: 30px;
    }

    .footer-info-lists li::before {
        top: 8px;
    }

    .footer-info-products-list {
        margin-right: 15px;
    }

    .footer-info-about-us li {
        font-size: 10px;
    }

    .footer-info-about-phone {
        margin-bottom: 10px;
    }

    .footer-info-about-social-list {
        margin-left: 0;
    }

    .footer-info-about-social-item {
        min-width: 10px;
        margin-right: 10px;
    }

    .footer-info-about-social-text {
        font-size: 10px;
    }
}

@media screen and (max-width: 1130px) {
    .header-wrapper {
        padding: 0 10px;
    }

    .header-nav-item {
        margin-right: 8px;
    }

    .header-social-phone {
        display: none;
    }

    .slider {
        min-height: 60vh;
    }

    .benefits-slide-title {
        left: 10px;
        font-size: 18px;
        bottom: 25px;
    }

    .benefits-slide-desc {
        font-size: 12px;
        margin-bottom: -20px;
        left: 10px;
    }

    .benefits-slide:hover .benefits-slide-desc {
        left: 10px;
    }
}

@media screen and (max-width: 821px) {
    .header-social-title {
        font-size: 14px;
    }

    .header-social-item {
        margin-right: 7px;
    }

    .header-social-thumb {
        width: 15px;
        height: 15px;
    }

    .header-nav-item {
        font-size: 14px;
        line-height: 135%;
    }

    .intro {
        height: 80px;
    }

    .intro-wrapper {
        margin: 10px;
    }

    .main-logo {
        height: 50px;
        margin-right: 5px;
    }

    .intro-logo-text {
        font-size: 24px;
    }

    .slider {
        min-height: 40vh;
    }

    .slider-wrapper {
        margin-left: 10px;
        width: 250px;
        height: 370px;
    }

    .slider-title {
        padding-top: 30px;
        font-size: 34px;
        margin-bottom: 20px;
    }

    .slider-name {
        font-size: 24px;
    }

    .slider-desc {
        font-size: 20px;
    }

    .slider-button {
        max-width: 140px;
        padding: 10px 24px;
    }

    .slider-controller {
        height: 45px;
        width: 45px;
    }

    .main-title {
        font-size: 30px;
    }

    .main-title::before {
        width: 10px;
        height: 28px;
    }

    .benefits-slide:hover .benefits-slide-title {
        bottom: 20px;
        font-size: 12px;
    }

    .benefits-slide-title {
        bottom: 5px;
        font-size: 12px;
    }

    .benefits-slide-desc {
        font-size: 8px
    }

    .categories-list {
        row-gap: 20px;
    }

    .categories-item {
        -ms-grid-column-span: 4;
        grid-column: span 4;
    }

    .category-item-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .main-title {
        margin-bottom: 10px;
    }

    .header-wrapper {
        padding: 0 2px;
    }

    .header-nav-item {
        font-size: 10px;
    }

    .header-social {
        display: none;
    }

    .header-wrapper {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 40px;
    }

    .header-nav-item {
        padding: 0 5px;
        font-size: 10px;
    }

    .intro {
        height: 70px;
    }

    .intro-wrapper {
        margin: 0 5px;
    }

    .main-logo {
        height: 40px;
        margin-right: 5px;
    }

    .intro-basket-thumb {
        font-size: 14px;
        background: none;
        padding-left: 0;
    }

    .intro-logo-text {
        font-size: 14px;
    }

    .intro-order-button-call {
        text-align: center;
        font-size: 12px;
        width: 80px;
        padding: 5px 5px;
    }

    .slider {
        min-height: 30vh;
    }

    .slider-wrapper {
        margin-left: 5px;
        width: 140px;
        height: 220px;
        border-left: 7px solid #44C697;
    }

    .slider-title {
        padding-top: 15px;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .slider-name {
        font-size: 14px;
    }

    .slider-desc {
        font-size: 16px;
    }

    .slider-button {
        font-size: 10px;
        max-width: 70px;
        padding: 5px 8px;
        margin-bottom: 10px;
    }

    .slider-controller {
        height: 20px;
        width: 20px;
    }

    .benfits {
        margin: 0 10px 30px 10px;
    }

    .benefits-slider {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .benefits-slider-first {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 20px;
    }

    .benefits-slider-nav {
        display: none;
    }

    .benefits-slider-second {
        display: none;
    }

    .benefits-slide {
        width: 100%;
    }

    .benefits-slide-title {
        font-size: 16px;
        bottom: 15px;
    }

    .benefits-slide:hover .benefits-slide-title {
        font-size: 14px;
        -webkit-transform: translateY(-160%);
        -ms-transform: translateY(-160%);
        transform: translateY(-160%);
    }

    .benefits-slide-desc {
        font-size: 12px;
    }

    .categories-wrapper {
        margin: 0 10px 30px 10px;
    }

    .categories-item {
        width: 70px;
    }

    .categories-thumb {
        height: 90px;
    }

    .beds-wrapper {
        margin: 0 10px 30px 10px;
    }

    .beds-card {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }

    .about-pic {
        visibility: hidden;
    }

    .about-article {
        padding: 5px 5px;
        width: 100%;
        height: auto;
        border-right: 7px solid #44C697;
    }

    .about-article-title {
        font-size: 10px;
    }

    .about-article-paragraph {
        font-size: 8px;
        margin-bottom: 4px;
    }

    .about-article-paragraph-2 {
        margin-top: 0;
    }

    .questions-block-form {
        width: 180px;
        padding: 5px 7px;
        height: auto;
    }

    .questions-block-form-title {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .questions-block-form-name {
        font-size: 12px;
        padding: 3px 4px;
        margin-bottom: 4px;
    }

    .questions-block-form-phone {
        font-size: 12px;
        padding: 3px 4px;
        margin-bottom: 4px;
    }

    .questions-block-form-name::-webkit-input-placeholder {
        font-size: 12px;
    }

    .questions-block-form-name::-moz-placeholder {
        font-size: 12px;
    }

    .questions-block-form-name:-ms-input-placeholder {
        font-size: 12px;
    }

    .questions-block-form-name::-ms-input-placeholder {
        font-size: 12px;
    }

    .questions-block-form-name::placeholder {
        font-size: 12px;
    }

    .questions-block-form-phone::-webkit-input-placeholder {
        font-size: 12px;
    }

    .questions-block-form-phone::-moz-placeholder {
        font-size: 12px;
    }

    .questions-block-form-phone:-ms-input-placeholder {
        font-size: 12px;
    }

    .questions-block-form-phone::-ms-input-placeholder {
        font-size: 12px;
    }

    .questions-block-form-phone::placeholder {
        font-size: 12px;
    }

    .questions-block-form-button {
        height: 20px;
        font-size: 12px;
        margin-bottom: 4px;
    }

    .questions-block-form-desc {
        font-size: 8px;
    }

    .footer-pic {
        display: none;
    }
}